
.item_list_box img {
    width: 35px;
}

.item_list_box {
    justify-self: center;
    overflow-y: auto; 
}

.item_list_box td{
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 15px;
}

.item_list_box table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.item_cell {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.item_cell:hover {
    transform: scale(1.2);
}

.item_cell.exists {
  background-color: rgba(255, 0, 0, 0.726);
  cursor: not-allowed;
}

.item_cell.exists img {
  pointer-events: none; /* 이미지 클릭도 막기 */
  opacity: 0.5;
}
