.miniroom_container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
}

.miniroom_container {
  width: 100%;
  padding: 20px;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 2px dashed #ccc; */
  background: url('/img/miniroom/map3.png');
  background-size: 100% 100%;
  overflow: hidden;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: 10;
}

.draggable {
  position: absolute;
  cursor: grab;
  user-select: none;
  transition: none;
}

.draggable:active {
  cursor: grabbing;
}

.draggable.dragging {
  cursor: grabbing;
  z-index: 20;
}

/* #img1 {
  width: 150px;
}

#img2 {
  width: 100px;
}

#img3 {
  width: 50px;
}

#img4 {
  width: 100px;
} */